@CHARSET "ISO-8859-1";

/*Tamaño mas comun de los textbox*/
.txtGeneral .z-textbox-rounded-inp{
	width: 200px;
}

/*Tamaño para textbox medianos*/
.txtSmall .z-textbox-rounded-inp{
	width: 100px
}

//PENDIENTEEEEEEEE
/*Tamaño para datebox medianos*/
.dtboxSmall{
	width: 70px;
}

/*Tamaño mas comun de los intbox*/
.intGeneral .z-intbox-rounded-inp{
	width: 200px;
}

/*Tamaño mas comun de los combobox sin botones*/
.cmbGeneralWithoutButton .z-combobox-rounded-inp{
	width: 200px;
}

/*Tamaño mas comun de los combobox*/
.cmbGeneralButton .z-combobox-rounded-inp{
	width: 180px;
}

/*combobox pequeño para rif, types, etc*/
.cmbShort .z-combobox-rounded-inp{
	width: 25px;
}

/*combobox colocado al lado de un cmbShort*/
.cmbSideShort .z-combobox-rounded-inp{
	width: 140px;
}

/*textbox ubicado al lado de algun component pequeño.*/
.txtSideShort .z-textbox-rounded-inp{
	width: 140px;
}

/*Etiquetas label principales de los formularios*/
.formLabel{
	font-weight: bold;
}

.titleFormLabel{
	font-weight: bold;
	font-size: x-large;
	margin-left: 20px;
}

/*Columnas que almacenan las etiquetas principales de los formularios*/
.columnLabel{
	width: 200px;
}